openapi: 3.1.0
info:
  title: Viva Engage (Yammer) Legacy REST Files Groups API
  description: 'Legacy Viva Engage (Yammer) REST API for messages, threads, topics, groups, users,

    subscriptions, and search. Sourced from

    https://learn.microsoft.com/en-us/rest/api/yammer/. Only v1 endpoints are supported.

    Authentication uses Yammer OAuth 2.0 legacy tokens or Microsoft Entra tokens

    (delegated access only).

    '
  version: '1.0'
  contact:
    name: Viva Engage (Yammer) API
    url: https://learn.microsoft.com/en-us/rest/api/yammer/
servers:
- url: https://www.yammer.com/api/v1
  description: Yammer Core REST API v1
security:
- OAuth2: []
tags:
- name: Groups
paths:
  /group_memberships.json:
    post:
      summary: Add a user to a group
      operationId: addGroupMembership
      tags:
      - Groups
      parameters:
      - name: group_id
        in: query
        required: true
        schema:
          type: integer
      responses:
        '201':
          description: Added
    delete:
      summary: Remove a user from a group
      operationId: removeGroupMembership
      tags:
      - Groups
      parameters:
      - name: group_id
        in: query
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Removed
  /groups/for_user/{user_id}.json:
    get:
      summary: Get groups for a user
      operationId: getGroupsForUser
      tags:
      - Groups
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Groups
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: 'Yammer OAuth 2.0 legacy tokens or Microsoft Entra tokens. Delegated access only.

        '
      flows:
        authorizationCode:
          authorizationUrl: https://www.yammer.com/dialog/oauth
          tokenUrl: https://www.yammer.com/oauth2/access_token.json
          scopes: {}
